.grid-container--crew {
	--flow-space: 2rem;
	grid-template-areas:
		'title'
		'image'
		'tabs'
		'content';
}

.grid-container--crew > picture {
	grid-area: image;
	max-width: 60%;
	border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}

.grid-container--crew > .dot-indicators {
	grid-area: tabs;
}

.grid-container--crew > .crew-details {
	grid-area: content;
}

.crew-details h2 {
	color: hsl(var(--clr-white) / 0.5);
}
