.grid-container {
	text-align: center;
	display: grid;
	place-items: center;
	padding-inline: 1rem;
	padding-bottom: 4rem;
}

.grid-container p:not([class]) {
	max-width: 50ch;
}

.numbered-title {
	grid-area: title;
}
